<% layout('/layouts/boilerplate') %>
<article>
    <div style="height: 300px; width: 400px; top:266px;"id="map"></div>
    <h2><%= store.name %></h2>
    <p><%= store.notes %></p>
    <a target="_self" href="/stores/edit/<%=store._id%>">edit store</a>
</article>

<script>
    const mapToken = '<%-process.env.MAP_TOKEN%>';
    const store = <%- JSON.stringify(store) %>
</script>
<script src="/js/singleStoreMap.js"></script>