<% layout('/layouts/boilerplate') %>

<h1><%= book.title%></h1>
<p><%= book.author %></p>
<p><%= book.description %></p>
<img src="<%=book.image.url%>">

<a target="_self" href="/books/edit/<%=book._id%>">edit book</a>

<form method="POST" action="/books/delete/<%=book._id%>?_method=DELETE">
    <button type="submit">delete book</button>
</form>


<a target="_self" href="/books">go back to books</a>